:root {
  --primary-color: #6c63ff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  text-align: center;
  margin: 65px auto;
  max-width: 60%;
}
h1 {
  font-size: 96px;
  margin-top: -50px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
  margin-top: -50px;
}
.links {
  display: flex;
  justify-content: center;
  padding: 2% 30%;
}
.links a {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border-radius: 4px;
  text-decoration: none;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: #fff;
}
.about-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
